@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Trang Báo Cáo Và Thông Kê</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex">
                    <ol class="breadcrumb ms-auto">
                    </ol>
                    
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="white-box">
            <h3 class="box-title">Số Lượng Bán Trong Năm</h3>
            @* <p class="text-muted">Add class <code>.table</code></p> *@
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th>Tháng 1</th>
                            <th>Tháng 2</th>
                            <th>Tháng 3</th>
                            <th>Tháng 4</th>
                            <th>Tháng 5</th>
                            <th>Tháng 6</th>
                            <th>Tháng 7</th>
                            <th>Tháng 8</th>
                            <th>Tháng 9</th>
                            <th>Tháng 10</th>
                            <th>Tháng 11</th>
                            <th>Tháng 12</th>
                            <th>Tổng Tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>20,000</td>
                        

                            <td>15,000</td>
                       

                            <td>25,000</td>
                       

                            <td>10,000</td>
                        

                            <td>20,000</td>
                        

                            <td>15,000</td>
                        

                            <td>25,000</td>
                        

                            <td>10,000</td>
                        

                            <td>20,000</td>
                        

                            <td>15,000</td>
                        

                            <td>25,000</td>
                        

                            <td>10,000</td>
                        

                            <td><strong>210,000</strong></td>
                       </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
           
               <div class=" col-sm-7">
                  <div class="white-box">
                    <h3 class="box-title">Top Nhân Viên Trong Tháng</h3>
                    @* <p class="text-muted">Add class <code>.table</code></p> *@
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mã Nhân Viên</th>
                                    <th>Tên Nhân Viên</th>
                                    <th>Số Lượng Bán</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>NV01</td>
                                    <td>MINH</td>
                                    <td>10000000000000</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>NV02</td>
                                    <td>MINH</td>
                                    <td>10000000000000</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>NV03</td>
                                    <td>MINH</td>
                                    <td>10000000000000</td>
                                </tr>
                            </tbody>
                        </table>
                       
                    </div>
                  </div>
                <div class="white-box">
                    <h3 class="box-title">Top Hàng Hóa Bán Chạy Nhất</h3>
                    @* <p class="text-muted">Add class <code>.table</code></p> *@
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mã Hàng Hóa</th>
                                    <th>Tên Hàng Hóa</th>
                                    <th>Số Lượng Bán</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>NV01</td>
                                    <td>MINH</td>
                                    <td>10000000000000</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>NV02</td>
                                    <td>MINH</td>
                                    <td>10000000000000</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>NV03</td>
                                    <td>MINH</td>
                                    <td>10000000000000</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
               </div>
             <div class="col-sm-5">
                <div class="white-box">
                    <h3 class="box-title">Doanh Thu Trong Năm</h3>
                    @* <p class="text-muted">Add class <code>.table</code></p> *@
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>Tháng</th>
                                    <th>Doanh thu</th>
                                    <th>Lợi nhuận</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tháng 1</td>
                                    <td>$10000</td>
                                    <td>$5000</td>
                                </tr>
                                <tr>
                                    <td>Tháng 2</td>
                                    <td>$12000</td>
                                    <td>$6000</td>
                                </tr>
                                <tr>
                                    <td>Tháng 3</td>
                                    <td>$8000</td>
                                    <td>$4000</td>
                                </tr>
                                <tr>
                                    <td>Tháng 4</td>
                                    <td>$15000</td>
                                    <td>$7000</td>
                                </tr>
                                <tr>
                                    <td>Tháng 5</td>
                                    <td>$13000</td>
                                    <td>$6000</td>
                                </tr>
                                <tr>
                                    <td>Tháng 6</td>
                                    <td>$11000</td>
                                    <td>$5500</td>
                                </tr>
                                <tr>
                                    <td>Tháng 7</td>
                                    <td>$14000</td>
                                    <td>$6500</td>
                                </tr>
                                <tr>
                                    <td>Tháng 8</td>
                                    <td>$16000</td>
                                    <td>$7500</td>
                                </tr>
                                <tr>
                                    <td>Tháng 9</td>
                                    <td>$18000</td>
                                    <td>$8500</td>
                                </tr>
                                <tr>
                                    <td>Tháng 10</td>
                                    <td>$20000</td>
                                    <td>$10000</td>
                                </tr>
                                <tr>
                                    <td>Tháng 11</td>
                                    <td>$19000</td>
                                    <td>$9000</td>
                                </tr>
                                <tr>
                                    <td>Tháng 12</td>
                                    <td>$22000</td>
                                    <td>$11000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
            
           
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
</div>

