@{
    Layout = "~/Views/Shared/User/MyLayout.cshtml";
}
@model Cart
<!-- Page Header Start -->
<h1 class="text-center">Payment</h1>

<!-- Payment Information Start -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
                <label for="bankName">Bank Name</label>
                <p id="bankName" class="form-control-static">MBBank</p>
            </div>
            <div class="form-group">
                <label for="accountName">Account Name</label>
                <p id="accountName" class="form-control-static">VŨ MẠNH CƯỜNG</p>
            </div>
            <div class="form-group">
                <label for="accountNumber">Account Number</label>
                <p id="accountNumber" class="form-control-static">7170220045678</p>
            </div>
            <div class="form-group text-center">
                <label for="qrCode">QR Code</label>
                <div>

                    <img src="~/plugins/images/maQr.jpg" alt="QR Code" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Payment Information End -->
