@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
}
@model AdminWebpage.Models.TNhanVien
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Sửa Nhân Viên</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex">
                    <ol class="breadcrumb ms-auto">
                    </ol>

                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Nhân Viên</h3>
                    @* <h4 class="text-muted">Add class <code>.table</code></p> *@
                    <div class="table-responsive">
                        <form asp-controller="NhanVien" asp-action="EditStaff">
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px; margin-bottom : 4px" class="fas fa-user form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Mã Nhân Viên</h5>
                                    </div>
                                    <input asp-for="MaNv" type="text" class="form-control has-feedback-left" placeholder="Mã Nhân Viên">
                                    <span class="text-danger" asp-validation-for="MaNv"></span>
                                </div>

                            </div>

                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px;margin-bottom : 4px" class="fa fa-address-card form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Tên Nhân Viên</h5>
                                    </div>
                                    <input asp-for="TenNv" type="text" class="form-control has-feedback-left" placeholder="Tên Nhân Viên">
                                    <span class="text-danger" asp-validation-for="TenNv"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px; margin-bottom : 4px" class="fas fa-venus-mars form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Giới Tính</h5>
                                    </div>
                                    <input asp-for="GioiTinh" type="text" class="form-control has-feedback-left" placeholder="Giới Tính">
                                    <span class="text-danger" asp-validation-for="GioiTinh"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px;margin-bottom : 4px" class="fas fa-calendar-alt form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Ngày Sinh</h5>
                                    </div>
                                    <input asp-for="NgaySinh"  class="form-control has-feedback-left" >
                                    <span class="text-danger" asp-validation-for="NgaySinh"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px;margin-bottom : 4px" class="fas fa-map  form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Địa Chỉ</h5>

                                    </div>
                                    <input asp-for="DiaChi" type="text" class="form-control has-feedback-left" placeholder="Địa Chỉ">
                                    <span class="text-danger" asp-validation-for="DiaChi"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px;margin-bottom : 4px" class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Số Điện Thoại</h5>
                                    </div>
                                    <input asp-for="Sdt" type="text" class="form-control has-feedback-left" placeholder="Vd:09809879797">
                                    <span class="text-danger" asp-validation-for="Sdt"></span>
                                </div>
                            </div>



                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <a asp-controller="NhanVien" asp-action="Staff" class="btn btn-primary" type="button">Cancel</a>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

