@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
}
@model AdminWebpage.Models.TKhachHang
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Thêm Khách Hàng</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex">
                    <ol class="breadcrumb ms-auto">
                    </ol>

                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Khách Hàng</h3>
                    @* <h4 class="text-muted">Add class <code>.table</code></p> *@
                    <div class="table-responsive">
                        <form asp-controller="KhachHang" asp-action="AddClient">
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px; margin-bottom : 4px" class="fas fa-user form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Mã Khách Hàng</h5>
                                    </div>
                                    <input asp-for="MaKh" type="text" class="form-control has-feedback-left" placeholder="Mã Khách Hàng">
                                    <span class="text-danger" asp-validation-for="MaKh"></span>
                                </div>

                            </div>

                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px;margin-bottom : 4px" class="fa fa-address-card form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Tên Khách Hàng</h5>
                                    </div>
                                    <input asp-for="TenKh" type="text" class="form-control has-feedback-left" placeholder="Tên Khách Hàng">
                                    <span class="text-danger" asp-validation-for="TenKh"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px; margin-bottom : 4px" class="fas fa-venus-mars form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Giới Tính</h5>
                                    </div>
                                    <input asp-for="GioiTinh" type="text" class="form-control has-feedback-left" placeholder="Giới Tính">
                                    <span class="text-danger" asp-validation-for="GioiTinh"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px;margin-bottom : 4px" class="fas fa-calendar-alt form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Ngày Sinh</h5>
                                    </div>
                                    <input asp-for="NgaySinh" class="form-control has-feedback-left" >
                                    <span class="text-danger" asp-validation-for="NgaySinh"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px;margin-bottom : 4px" class="fas fa-map  form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Địa Chỉ</h5>

                                    </div>
                                    <textarea id="myTextarea" asp-for="DiaChi" type="text" class="form-control has-feedback-left" placeholder="Địa Chỉ"></textarea>
                                    <span class="text-danger" asp-validation-for="DiaChi"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <div class=" form-control-feedback left mb-2" style="display: grid; grid-template-columns: auto 1fr; align-items: center;">
                                        <span style="margin-right: 5px;margin-bottom : 4px" class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                        <h5 style="margin: 0;font-weight: bold; color: #333;">Số Điện Thoại</h5>
                                    </div>
                                    <input asp-for="Sdt" type="text" class="form-control has-feedback-left" placeholder="Vd:09809879797">
                                    <span class="text-danger" asp-validation-for="Sdt"></span>
                                </div>
                            </div>



                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <a asp-controller="KhachHang" asp-action="Client" class="btn btn-primary" type="button">Cancel</a>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@*TÍCH HỢP EDITOR CHO TEXTAREA*@
<<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/9neond7sgic5uwd2qhulotrfal8vf6zdap3h63w2h2y850pr/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<script>
  tinymce.init({
    selector: 'textarea',
    plugins: [
      // Core editing features
      'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
      // Your account includes a free trial of TinyMCE premium features
      // Try the most popular premium features until Nov 14, 2024:
      'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown',
      // Early access to document converters
      'importword', 'exportword', 'exportpdf'
    ],
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
    exportpdf_converter_options: { 'format': 'Letter', 'margin_top': '1in', 'margin_right': '1in', 'margin_bottom': '1in', 'margin_left': '1in' },
    exportword_converter_options: { 'document': { 'size': 'Letter' } },
    importword_converter_options: { 'formatting': { 'styles': 'inline', 'resets': 'inline',	'defaults': 'inline', } },
  });
</script>
<textarea>
  Welcome to TinyMCE!
</textarea>
